.App {
  text-align: center;
}

h1, h2 {
  color: #37549D;
}

label, li {
  font-size: 1.1rem;
}

.field-box {
  margin: 1rem 0;
  width: 225px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
